extends layout

block content
    div.part_header Welcome to wikimedia
    div
        table#tb_register
            tr
                td First name:
                td 
                    input(type="text", name="first_name")
            tr
                td Last name:
                td 
                    input(type="text", name="last_name")
            tr
                td Email Address:
                td 
                    input(type="email", name="email_address")
            tr
                td Username:
                td
                    input(type="text", name="username")
            tr
                td Password:
                td
                    input(type="password", name="password")
            tr
                td Confirm password:
                td
                    input(type="password", name="confirm_password")