.fliterbar_author You can search an author by type his/her name here:
    input#author_name(type="text")
    input#bt_searchauthor(type="button", value="search")

.content 
    div#content_title
    table#author_articles

