doctype html
html
	head
		title knowledge base
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(rel='stylesheet', type='text/css',href='/stylesheet/materialize.min.css')
		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js", type='text/javascript')
		script(src="https://www.gstatic.com/charts/loader.js")
		script(src='/js/materialize.min.js', type='text/javascript')
		script(src='/js/analysepage.js',type='text/javascript')
		script(src='/js/mainpage.js',type='text/javascript')
		script(src='/js/jquery.slides.min.js',type='text/javascript')
		
	block content
        
